.rounded-corners (@radius: 5px) {border-radius: @radius; -webkit-border-radius: @radius;-moz-border-radius: @radius;}
.box-shadow (@h-offset: 0, @v-offset: 0, @blur: 3px, @color: #666){box-shadow: @arguments;-webkit-box-shadow: @arguments;-moz-box-shadow: @arguments;}
.b{border: 1px solid #000;}
a{text-decoration: none;color: inherit;}
.clear{float: none;clear: both;}
body{margin: auto;word-wrap: break-word;}